#nucoe-logo{margin: 27px 0;  width: 340px;}
	.l-navigation-region{background-color: #CC0000;}
	
	.navbar {
	 text-align: justify;
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #CC0000 !important;
	border-bottom: 1px solid #ccc;  }
	
	.navbar .navbar-default>ul{
	width:100%;
	
	
	}
	
	
	
	.navbar-collapse .navbar-nav>li>a {
	width:100%;
	align:justify;
    color: #ffffff;
}

li:hover {

color: #FFF;

}


 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

   tr:hover {
          background-color: #ffff99;
        }
		
	.imageclass	img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.imageclass img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}




.destacados{
    padding: 20px 0;
	text-align: center;
}
.destacados > div > div{
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}
.destacados > div:hover > div{
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}
