@import "css/header-austin.css";
@import "css/feed-austin.css";
@import "css/image-austin.css";
@import "css/events-austin.css";
@import "css/grayscale-austin.css";
@import "css/studentimagegallery-austin.css";
@import "css/contactus-austin.css";
@import "css/navbar-austin.css";

.l-navigation-region {
    background-color: #CC0000;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

#sidebar > ul > li{
list-style-type: none;
float: left;
    padding: 5px;
}

#sidebar > ul > li > a > button {
    width: 250px;
}

#sidebar{
    margin-left: 0;
}

#huskypaw{
    border-radius: 50%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}
#huskypaw:hover {
-webkit-transform: rotate(360deg);
transform: rotate(360deg);
}

.links {
    z-index:9999;
}

#textwind
{
    z-index:100;
    position:absolute;
    color:white;
    font-size:24px;
    font-weight:bold;
    left:150px;
    top:350px;
}

.dropdown > a > ul {
    opacity: 0;
    transition: all 0.5s ease 3s;
}

.dropdown:hover > a > ul {
    opacity: 1;
    transition: all 0.5s ease 0s;
}

.undergradcount{
    background-image: url(img/bottomCount-austin/undergrad.png);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 175px;
    height: 175px;
}
.gradcount{
    background-image: url(img/bottomCount-austin/gradcount.png);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 175px;
    height: 175px;
}
.facultycount{
    background-image: url(img/bottomCount-austin/facultycount.png);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 175px;
    height: 175px;
}

.fundingcount{
    background-image: url(img/bottomCount-austin/fundingcount.png);
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 175px;
    height: 175px;
}

#studentgallery > div > div >img{
    max-width:100%;
    max-height: 100%;
}
.unstyled {
    list-style-type: none;
}