

#nucoe-logo{margin: 27px 0;  width: 340px;}
	.l-navigation-region{background-color: #CC0000;}
	
	.navbar {
	 text-align: justify;
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	background-color: #CC0000 !important;
	border-bottom: 1px solid #ccc;  }
	
	.navbar navbar-default>ul{
	width:100%;
	
	
	}
	
	
	
	.navbar-default .navbar-nav>li>a {
	width:100%;
	align:justify;
    color: #ffffff;
}

li:hover {

color: #FFF;

}


.image ul {
  list-style-type: none;
  width: 500px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.image li img {
  float: left;
  margin: 0 15px 0 0;
}

.image li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.image li {
  padding: 10px;
  overflow: auto;
}

.image li:hover {
  background: #eee;
  color:#000000;
  cursor: pointer;
}


