#bg{
  background:url('../img/energyHack/image1.jpg') no-repeat;
  max-width:100%;
	max-height:100%;
	background-size: cover;

}
img.media-object { 
  max-width: 120px;
  max-height: 120px;
 
 }
ul{
  list-style: none;
}


#bgrnd{
  background:url('../img/energyHack/image7.jpg') no-repeat;
  max-width:100%;
	max-height:100%;
	background-size: cover;

}

#bgrnd h1{
	padding-top: 5%;
	color: #ab0016;
	text-align: center;
	font: normal Arial Black, Gadget, sans-serif;
	text-shadow: 0 0 1px rgba(255,86,86,0.9) ;
}

#bgrnd h3{
	padding-top: 20%;
	color: #8d0012;
	text-align: center;
	font: normal Arial Black, Gadget, sans-serif;
	text-shadow: 0 0 1px rgba(255,86,86,0.9) ;
	padding-bottom: 1%;
}

#bg h1{
	padding-top: 5%;
	color: #ab0016;
	text-align: center;
	font: normal Arial Black, Gadget, sans-serif;
	text-shadow: 0 0 1px rgba(255,86,86,0.9) ;
}

#bg h3{
	padding-top: 20%;
	color: #8d0012;
	text-align: center;
	font: normal Arial Black, Gadget, sans-serif;
	text-shadow: 0 0 1px rgba(255,86,86,0.9) ;
	padding-bottom: 1%;
}

hr { 
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  color: #c51414;
  border-style: inset;
  border-width: 1px;
}

.menuOptions{
	background-color: #d22e43;
	text-align: center;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px;
	height: 40%;

}
.menuOptions img{

	border-radius: 10px;	
	margin-left: auto;
  margin-right: auto;
}

.menuOptions p{

	color: #ffffff;
}

.menuOptions a{
	color: #ffffff;
	text-decoration: none !important;
}

label {
    cursor: pointer;
}

label.acts_as_button {
    display: block;
    float: left;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 5px 0 0;
    border: 1px solid grey;
    background-color: #EEE;
}

label.acts_as_button.selected {
    background-color: #F26B18;
}

ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;

}

tbody{
	padding-bottom: 10%;
}

.toggle-header{
    padding:10px 0;
    margin:10px 0;
    background-color:black;
    color:white;
}
.txt-green{
    color:green;
}
.txt-red{
    color:red;
}

#leaderboard img{
	float: right;
}
  

#page {
	text-align: center;
	
}
ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    top:20%;
}

ul.pagination li a.active {
    background-color: #ab0016;
    color: white;
    border-radius: 5px;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.btn-glyphicon { padding:8px; background:#ffffff; margin-right:4px; }
.icon-btn { padding: 1px 15px 3px 2px; border-radius:50px;}


#leaderBoardTable{
	float: left;
}

.progress {
    position: relative;
	height: 25px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}

.container .box{
  
  margin: 2px;
  padding: 5px;
  border: 1px solid #ccc;
  text-align: center;
}

/*Fade all the DIV when user hovers on any div*/
.container:hover .box{
  zoom: 1;
  filter: alpha(opacity=45);
  opacity: 0.45;
  -webkit-transition: opacity .5s ease-in-out;
  -moz-transition: opacity .5s ease-in-out;
  -ms-transition: opacity .5s ease-in-out;
  -o-transition: opacity .5s ease-in-out;
  transition: opacity .5s ease-in-out;
}

/*Fade out the particular DIV when user hover on that DIV*/
.container .box:hover{
  box-shadow: 3px 3px 15px #666;
  border-color:#fffff;
  background: #830011;
  color: #fff;
  cursor: pointer;
  
  /*Opacity*/
  zoom: 1;
  filter: alpha(opacity=100);
  opacity: 1;
}

/* 
Inspired by http://dribbble.com/shots/890759-Ui-Kit-Metro/attachments/97174
*/
*, *:before, *:after {
  /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
  -webkit-box-sizing: border-box; 

  /* Firefox (desktop or Android) 28- */
  -moz-box-sizing: border-box;

  /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
  box-sizing: border-box;
}

.btn-nav {
    background-color: #fff;
    border: 1px solid #e0e1db;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.btn-nav:hover {
    color: #e92d00;
    cursor: pointer;
    -webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
    transition: color 1s;
}
.btn-nav.active {
    color: #e92d00;
    padding: 2px;
	border-top: 6px solid #e92d00;
	border-bottom: 6px solid #e92d00;
    border-left: 0;
    border-right: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -moz-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -ms-transition: border 0.3s ease-out, color 0.3s ease 0.5s; /* IE10 is actually unprefixed */
    -o-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
.btn-nav.active:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 6px 6px 0;
	border-color: #e92d00 transparent;
	display: block;
	width: 0;
	z-index: 1;
	margin-left: -6px;
	top: 0;
	left: 50%;
}
.btn-nav .glyphicon {
    padding-top: 16px;
	font-size: 40px;
}
.btn-nav.active p {
    margin-bottom: 8px;
}
@-webkit-keyframes pulsate {
 50% { color: #000; }
}
@keyframes pulsate {
 50% { color: #000; }
}
@media (max-width: 480px) {
    .btn-group {
        display: block !important;
        float: none !important;
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media (max-width: 600px) {
    .btn-nav .glyphicon {
        padding-top: 12px;
        font-size: 26px;
    }
}




 .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }

   tr:hover {
          background-color: #ffff99;
        }
		
	.imageclass	img {
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.imageclass img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}




.destacados{
    padding: 20px 0;
	text-align: center;
}
.destacados > div > div{
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	transition: 0.2s;
}
.destacados > div:hover > div{
	margin-top: -10px;
	border: 1px solid rgb(200, 200, 200);
	box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
	background: rgba(200, 200, 200, 0.1);
	transition: 0.5s;
}





#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
      -ms-transition-property: opacity;
          transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none;
}
#fade-quote-carousel blockquote {
    text-align: center;
    border: none;
}
#fade-quote-carousel .profile-circle {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 100px;
}


 .carousel-outer > .item > img,
  .carousel-outer > .item > a > img {
      width: 20%;
      margin: auto;
  }
  
  
  /* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */

.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.result {
    width: 20%;
    height: 10%;
    background: #f4eced;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
    font-size: 150%;
    padding: 2%;
    
}


.media-list > li > img:hover{
  background:red;
}


