.feed-container{
    margin-top: 20%;
    border-style: double;
    border-color: #dacfbe;
    background-color: white;
}
.feed-listing{
    style:none;
}

.feed-inner-container{
    border-style: inset;
    border-color: grey;

    padding: 5px 5px;
}

.feed-inner-text{
    margin: 5px 5px 5px 5px ;
    padding: 5px 5px 5px 5px;
}