.feed-container{
    margin-top: 10%;
    border-style: double;
    border-color: #8c0007;
    background-color: white;
}
.feed-listing{
    style:none;
}

.feed-inner-container{
    margin: 10px 10px;
    border-style: none;
    border-color: #000000;
    background-color: white;
    padding: 5px 5px;
    min-height: 100px;
}

.feed-inner-text{
    margin: 5px 5px ;
    padding: 5px 5px 5px 5px;
    float:right;
}
.feed-inner-content{
}