#image1{
    max-height: 100px;
    max-width: 200px;
    float : left;
    align-self: center;
}

#image2{
    max-height: 100px;
    max-width: 200px;
    float : left;
    align-self: center;
}

#image3{
    max-height: 100px;
    max-width: 200px;
}

img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    border-color :red;
    max-width: 100%;
    max-height: 100%;
}


#studentgallery > div > .row > div > img {
max-width: 100%;
    max-height: 100%;
}

#academicslogo{
    float:right;
    margin: 1% 0;
    max-width: 50%;
    max-height: 50%;

}