#image1{
    max-height: 100px;
    max-width: 200px;
    float : none;
    align-self: center;
}

#image2{
    max-height: 100px;
    max-width: 200px;
}

#image3{
    max-height: 100px;
    max-width: 200px;
}

img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    border-color :red;
}


