#nucoe-logo {
    margin: 27px 0;
    width: 340px;
}

.l-navigation-region {
    background-color: #CC0000;
}

.navbar {
    text-align: justify;
    width: 100%;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;
    background-color: #CC0000 !important;
    border-bottom: 1px solid #ccc;
}

.navbar .navbar-default > ul {
    width: 100%;

}

#myNavbar > .navbar-nav > li > a {
    width: 100%;
    align: justify;
    color: #ffffff;
}

.navbar-nav >li:hover {
    background-color: #ff5338;
}