<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">

<title>Success!!</title>
<style>
body {
	padding-top: 70px;
}

.span12 {
	text-align: right
}
</style>

</head>

<body>
#include("navbar.vm")
<!--<h3>$count $category(s) added successfully!!!!</h3>-->
<h3>Successfull!!!!</h3><br>
</body>
</html>